* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    display: flex;
	min-height: 100vh;
    flex-direction: column;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	font-size: 85%;
}

header {
	background-color: white;
	color: black;
	padding: 10px 0;
	text-align: center;
	border-top: 2.5em solid rgb(38, 145, 217);
}

a {
	text-decoration: none;
	color: rgb(18, 125, 187);
}

header a {
	text-decoration: none;
	color: black;
}

nav.main-nav {
	display: flex;
	justify-content: center;
	border-bottom: 3px double #eeefff;
}

nav.main-nav ul, footer ul {
	list-style: none;
}

nav.main-nav ul li, footer ul li {
	display: inline;
	margin: 0 15px;
}

nav.main-nav ul li a {
	text-decoration: none;
    color: rgb(18, 125, 187);
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

/*
nav.main-nav ul li a:hover {
    color: #00bcd4;
    background-color: rgba(0, 188, 212, 0.1);
}
*/

nav ul li a:focus, nav ul li a:active {
    outline: none;
}

footer ul li a {
	color: white;
	text-decoration: none;
}

nav.main-nav ul li a:hover, footer ul li a:hover {
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 6px;
}

#login-nav {
	position: absolute;
	top: 2px;
	right: -3px;
	padding: 3px;
	margin: 0;
	margin-right: 5px;
	text-align: right;
}

#login-info {
	background-color: rgba(250,250,250,0.8);
	color: rgb(50,80,125);
	font-size: 90%;
	border: 1px solid rgba(100,100,100,0.1);
	border-radius: 3px;
	padding-left: 5px;
}

#locale-menu-item {
	white-space: nowrap;
}

main {
	flex: 1;
	padding: 30px;
	padding-top: 5px;
	background-color: #f4f4f4;
	padding-bottom: 5em;
}

footer {
	width: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 120%;
}

#username {
	font-weight: bold;
}

#userrole.admin {
	color: black;
	padding: 3px;
	border-bottom: 1px dashed red;
}

.error {
	border: 1px solid rgb(200,0,0);
	background-color: rgba(255,245,245, 0.5);
	margin: 1em;
	padding: 1em;
	border-radius: 5px;
}

#logout, #login {
	font-size: 90%;
}

h2, h3, h4, h5 {
	color: rgb(18, 65, 107);
	margin-top: 0.5em;
}
h2 {
	margin-bottom: 1.0em;
}
h3, h4, h5 {
	margin-bottom: 0.5em;
}
h3 {
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 3px;
	margin-bottom: 1em;
	font-size: 120%;
}

li {
	list-style-type: none;
}

.speciesName {
	font-style: italic;
	white-space: nowrap;
}

.author {
	font-size: 10px;
	padding-left: 7px;
	padding-right: 7px;
}

.taxonRank {
	color: #515151;
	padding-right: 5px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 30px; /* Space between images */
    justify-items: left;
    align-items: center; /* Align images vertically */
}

.image-grid img {
    border-radius: 5px; /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
    transition: transform 0.2s; /* Optional: Add hover effect */
    width: 400px;
    height: auto;
}

.image-grid img:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
}

.breadcrumb {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 90%;
    position: relative;
    top: -10px;
    left: -10px;
}

.breadcrumb li {
    margin-right: 0.5em;
    display: inline;
}

.breadcrumb li::after {
    content: "»";
    margin-left: 0.5em;
}

.breadcrumb li:last-child::after {
    content: ""; /* Remove separator for the last item */
}

.breadcrumb a { 
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 6px;
	font-weight: bolder;
}

.breadcrumb a.home {
	font-size: 150%;
}

.info {
	background-color: #e7f3fe; 
	border-left: 5px solid rgb(150,180,205); 
    padding: 1em 2em 1em 1em;
    margin: 20px 0;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 60em;
}

.info p {
	margin-bottom: 0.5em;
}

.warning {
	background-color: rgb(200,100,100);
	border-left: 5px solid rgb(150,80,85);
}

.admin-image-tags {
   height: 20px;
   position: absolute;
   bottom: 0px;
}

.tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    font-size: 12px;
}

.tag[data-type="sex"] { background-color: #ff5722; }
.tag[data-type="lifestage"] { background-color: #8bc34a; }
.tag[data-type="side"] { background-color: #ffc107; }
.tag[data-type="type"] { background-color: #3f51b5; }
.tag[data-type="primary"] { background-color: #9c27b0; }

.admin-image-wrapper {
	position: relative;
}

.image-info-box {
    display: none;
    position: absolute;
    top: -100px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    pointer-events: none;
    z-index: 999;
}
