* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
}

header {
	background-color: white;
	color: black;
	padding: 10px 0;
	text-align: center;
	border-top: 2.5em solid rgb(38, 145, 217);
}

header a {
	text-decoration: none;
	color: black;
}

nav {
	display: flex;
	justify-content: center;
	border-bottom: 3px double #eeefff;
}

nav ul, footer ul {
	list-style: none;
}

nav ul li, footer ul li {
	display: inline;
	margin: 0 15px;
}

nav ul li a {
	text-decoration: none;
    color: rgb(18, 125, 187);
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #00bcd4;
    background-color: rgba(0, 188, 212, 0.1);
}

nav ul li a:focus, nav ul li a:active {
    outline: none;
}

footer ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover, footer ul li a:hover {
	text-decoration: underline;
}

#login-nav {
	position: absolute;
	top: 2px;
	right: -3px;
	padding: 3px;
	margin: 0;
	margin-right: 5px;
	background-color: rgba(250,250,250,0.8);
	color: rgb(50,80,125);
	font-size: 90%;
	border: 1px solid rgba(100,100,100,0.1);
	text-align: right;
}

#locale-menu-item {
	white-space: nowrap;
}

main {
	padding: 20px;
	background-color: #f4f4f4;
	min-height: 60vh;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#username {
	font-weight: bold;
}

#userrole.admin {
	color: black;
	padding: 3px;
	border-bottom: 1px dashed red;
}

.error {
	border: 1px solid rgb(200,0,0);
	background-color: rgba(255,245,245, 0.5);
	margin: 1em;
	padding: 1em;
	border-radius: 5px;
}

#logout, #login {
	font-size: 90%;
}
